# {{ ansible_managed }}
[Unit]
Description=The plugin-driven metrics agent
Documentation=https://github.com/influxdata/telegraf
After=network.target

[Service]
User=telegraf
ExecStart=/usr/local/bin/telegraf -config {{ telegraf_dirs.main.path }}/telegraf.conf -config-directory {{ telegraf_dirs.configs.path }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
