# {{ ansible_managed }}
[Unit]
Description="HashiCorp Vault Agent"
Documentation=https://www.vaultproject.io/docs/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty={{ vault_agent_dirs.main.path }}/vault-agent.json

[Service]
User=vault
Group=vault
ExecStart=/usr/local/bin/vault agent -config={{ vault_dirs.main.path }}/vault-agent.json
ExecReload=/bin/kill --signal HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
