#jinja2: trim_blocks: True, lstrip_blocks: True
{% for template in templates.value %}
template = {
    {% for key, value in template.items() %}
    {{ key }} = {{ value | to_json }}
    {% endfor %}
}
{% endfor %}
