#!/sbin/openrc-run
# {{ ansible_managed }}

description="HashiCorp Vault Agent"
user="root"
group="hashi"
pidfile="/run/vault-agent.pid"

extra_started_commands="reload"

command="/usr/local/bin/${RC_SVCNAME}"
command_args="agent -config={{ vault_agent_dirs.main.path }}/vault-agent.json"
command_background="true"
start_stop_daemon_args="--user ${user} --group ${group}"

depend() {
    need net
}

reload() {
    ebegin "Reloading Vault Agent"
    start-stop-daemon --signal HUP --pidfile "${pidfile}"
    eend $?
}
