#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
[registries.search]
registries = {{ base_podman_registries.search | default ([]) }}

[registries.insecure]
registries = {{ base_podman_registries.insecure | default ([]) }}

[registries.block]
registries = {{ base_podman_registries.block | default ([]) }}
