#!/sbin/openrc-run
# {{ ansible_managed }}

description="HashiCorp Consul Tmplate"
# user="${RC_SVCNAME}"
user="root"
# https://github.com/hashicorp/consul-template/issues/1379
group="hashi"
pidfile="/run/${RC_SVCNAME}.pid"

extra_started_commands="reload"

command="/usr/local/bin/${RC_SVCNAME}"
command_args="-config={{ consul_template_dirs.configs.path }} -config={{ consul_template_dirs.templates.path }}"
command_background="true"
start_stop_daemon_args="--user ${user} --group ${group}"
stopsig="SIGINT"

depend() {
    need net
}

checkconfig() {
    if out="$(${command} ${command_args} -once -dry 2>&1)"; then
        :
    else
        eerror "$out"
        return $?
    fi
}

start_pre() {
    if [[ "${RC_CMD}" != "restart" ]] ; then
        checkconfig || return $?
    fi
}

stop_pre() {
    if [[ "${RC_CMD}" = "restart" ]] ; then
        checkconfig || return $?
    fi
}

reload() {
    checkconfig || return $?
    ebegin "Reloading consul-template"
    start-stop-daemon --signal HUP --pidfile "${pidfile}"
    eend $?
}
