#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
DISTCCD_OPTS="{%- for k,v in base_distccd.items() -%}
--{{ k }}={{ v }}{{ " " if not loop.last }}
{%- endfor -%}"
DISTCCD_OPTS="${DISTCCD_OPTS} {{ base_distccd_access | join(' ') }}"
DISTCCD_EXEC="/usr/bin/distccd"
rc_need="net"
