#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
server:
    {% for key, value in __unbound.items() %}
    {% if key == "include" %}
    {% for option in value %}
    include: {{ option }}
    {% endfor %}
    {% elif key == "interface" %}
    {% elif key == "access-control" %}
    {% for option in value %}
    access-control: {{ option }}
    {% endfor %}
    {% elif key == "outgoing-interface" %}
    {% for option in value %}
    outgoing-interface: {{ option }}
    {% endfor %}
    {% elif key == "private-domain" %}
    {% for option in value %}
    private-domain: {{ option }}
    {% endfor %}
    {% elif key == "private-address" %}
    {% for option in value %}
    private-address: {{ option }}
    {% endfor %}
    {% else %}
    {{ key }}: {{ value }}
    {% endif %}
    {% endfor %}
    {% if __unbound.interface is defined and __unbound.interface | length %}
    include: /etc/unbound/conf.d/interfaces.conf
    {% endif %}

{% for __zone in dns_unbound_forward_zone | default([]) %}
{% for key, value in __zone.items() %}
forward-zone:
    {% if key == "forward-addr" %}
    {% for option in value %}
    forward-addr: {{ option }}
    {% endfor %}
    {% elif key == "forward-host" %}
    {% for option in value %}
    forward-host: {{ option }}
    {% endfor %}
    {% else %}
    key: {{ value }}
    {% endif %}
{% endfor %}
{% endfor %}
