#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
@version: {{ syslog_config_version }}

options {
    {% for key, value in syslog_options.items() %}
    {{ key }}({{ value }});
    {% endfor %}
};

{% for key, value in syslog_sources.items() %}
source {{ key }} {
    {% for item in value %}
    {{ item.driver }}({{ item.params }});
    {% endfor %}
};
{% endfor %}

{% for key, value in syslog_destinations.items() %}
destination {{ key }} {
    {% for item in value %}
    {{ item.driver }}({{ item.params }});
    {% endfor %}
};
{% endfor %}

{% for key, value in syslog_filters.items() %}
filter {{ key }} { {{ value }} };
{% endfor %}

{% for item in syslog_logs %}
log {
    {% for s in item.sources | default([]) %}
    source({{ s }});
    {% endfor %}
    {% for f in item.filters | default([]) %}
    filter({{ f }});
    {% endfor %}
    {% for d in item.destinations | default([]) %}
    destination({{ d }});
    {% endfor %}
};
{% endfor %}
